body {
  background-image: url('background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  padding-left: 200px;
  padding-right: 200px;
}

.text-box {
  background-color: rgba(0, 0, 0, 0.95);
  padding: 10px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

h1 {
  font-family: "Michroma", sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
}

blockquote {
  border-left: 4px solid #9999cc;
  padding-left: 1em;
  color: #9999cc;
  margin: 1em 0px;
}

figure {
    margin: 0;
    padding: 0;      
}

figure img,
p img {
    display: block; 
    margin: 0 auto;
    max-width: 70%;
    max-height: 500px;
    height: auto;
}

figure figcaption {
    margin-top: 0.5em;
    font-size: 0.9em;
    text-align: center;
    color: #9999cc;
}

